/* frontend/src/components/LoginForm.css */
.login-container {
  display: flow-root;
  height: 100vh;

  background: linear-gradient(to right, #6c7070, #000b01);
  }

  .login-box {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #0c0101;
    border-radius: 12px;
    margin-top: 180px;
  
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

.form-control{
    border: 1px solid #0c0101;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
   

  }
  
  .form-label {
    font-weight: bold;
  }
  
  h2 {
    margin-bottom: 20px; 
    
 }

  

  
  /* Register button styling */
  .register-link {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .register-link p {
    margin: 0;
  }
  
  .btn-link {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .btn-link:hover {
    color: #0056b3;
  }


  .password-input-group {
    position: relative;
  }

  .button-gap {
    margin: 0 10px; /* Adjust the margin as needed */
  }
  
  .password-input-group button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 70px; /* Set a fixed width for both buttons */
  }

.password-input-group button.btn-light,
.password-input-group button.btn-primary {
  width: 70px;
}

  /* Add more styles as needed */
  