
  .profile-pic {
    width: 30px; /* Adjust the width of the profile picture */
    height: 30px; /* Adjust the height of the profile picture */
    margin-right: 10px; /* Adjust the margin */
  }
  

  .large-logo {
    display: block;
  }
  
  .small-logo {
    display: none;
  }
  
  @media (max-width: 768px) {
    .large-logo {
      display: none;
    }
  
    .small-logo {
      display: block;
    }
  }
  