/* Navbar.css */

.custom-navbar {
    background-color: #333; /* Change the background color */
  }
  
  .custom-navbar .nav-link {
    color: #fff; /* Change the text color */
  }
  
  .custom-navbar .nav-link.active {
    color: #ffcc00; /* Change the active link color */
  }
  
  .profile-pic {
    width: 30px; /* Adjust the width of the profile picture */
    height: 30px; /* Adjust the height of the profile picture */
    margin-right: 10px; /* Adjust the margin */
  }
  