/* frontend/src/components/RegisterForm.css */
.register-container {
  display:flow-root;
 height: 100vh;
  background: linear-gradient(to right, #6c7070, #000b01);
  }
  
  .register-box {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border: 1px solid #0c0101;
    border-radius: 12px;
    
  margin-top: 10px;
    background-color: rgba(255,255,255,0.5);
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
}

  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    border: 1px solid #0c0101;
    border-radius: 10px;
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
  }
  

  .login-link {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .login-link p {
    margin: 0;
  }
  
  .btn-link {
    cursor: pointer;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .btn-link:hover {
    color: #0056b3;
  }
  

  .password-input-group {
    position: relative;
  }
  
  .password-input-group button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    width: 70px; /* Set a fixed width for both buttons */
  }

.password-input-group button.btn-light,
.password-input-group button.btn-primary {
  width: 70px;
}